.navbar {
    padding: 0 40px;
    font-size: smaller;
}
.navbar-nav {
    --bs-nav-link-color: white;
    font-family: 'comfortaa', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.dropdown-menu {
    color: white;
    background-color:rgb(33,37,41);
    padding:0;
    font-size: 1em;
}
.dropdown-menu li{
    padding: 0 !important;
}
.nav-link {
    color: white !important;
}

.dropdown-item {
    --bs-dropdown-link-color: white;
    padding: 1em;
}
.dropdown-item:hover {
    color: white;
    background-color: #5c7c91;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-nav li {
    padding: 0 5px;
} 
.nav-link:hover, .active{
    color: white;
    text-decoration: underline #ce6451 2px;
    text-underline-offset: 20px;
}

#footer img {
    width: 200px;
}
#footer h6{
    font-size: 14px;
    font-weight: 400;
}
.copyright {
    font-size: 11px;
    color: #5c7c91;

}
@media (max-width: 768px) {
.nav-link:hover{
    text-decoration: none;

}
.nav-item:hover {
    background-color: #5c7c91;
}

.active {
    text-decoration: none;
}
.navbar-nav {
    font-size: 16px;
    height: 100%;
    padding: 0px !important;
    justify-content: center !important;
}
.nav-item a{
    padding: 15px 50px;
}
.offcanvas-body {
    padding: 0px;
}

}